<html>
    {%extends 'taskapp/base.html' %}
    {%block content %}
        <!--body style="background-image: url(https://media.istockphoto.com/id/1285308242/photo/to-do-list-text-on-notepad.jpg?s=612x612&w=0&k=20&c=p85bCVQZwvkrqqqNOJGg2QuPDu6ynTlQHkASQOTELh8=);background-repeat: repeat; background-position: 0cqmax;"-->
        <h1>TODO List Demo</h1>
        <table align="center">
            <thead>
                <th>S.no.</th>
                <th>Task Name</th>
                <th>Status</th>
                <th>Update(if any changes)</th>
                <th>Delete(if complete)</th>
            </thead>
            <tr>
            {%for st in tlist %}
            <td align="center">{{st.sno}}</td>
            <td>{{st.task_name}}</td>
            <td align="center">{{st.status}}</td>
            <td align="center">
                <a href="/update/{{st.id}}"><button type="button" style="background-color: green; border-color: blue; color: white">UPDATE</button> </a></td>
            <td align="center">
                <a href="/delete/{{st.id}}"><button type="button" style="background-color: red; border-color: blue; color: white">DELETE</button> </a></td>
            </tr>
            {%endfor %}
        </table><br>
        <a href="/create"><button type = 'buttton'> ADD NEW TASK</button></a>
        {%endblock %}
    
</html>