<html>
    {%extends 'todoapp/base.html' %}
    {%block content %}  
      
        <h1>Update Task details</h1>
        <form method="POST">
           {{form.as_p}}
            {{task.as_p}}
            {% csrf_token %}
        
        S.no. <input type="text" name="sno" value="{{task.sno}}"><br><br>
        Task Name <input type="text" name="task_name" value="{{task.task_name}}"><br><br>
        Status<input type="text" name="status" value="{{task.status}}"><br><br>
        
        <!--input type="submit" value = "UPDATE STUDENT"-->
        <button type="submit">UPDATE TASK</button>
        </form>
        {%endblock %}

</html>